#root {
  --black: #0C0C0C;
  --yellow: #DCB415;
  --blue: #386ff0;
  --christmas-green: #1c7540;
  --christmas-green-shadow: rgba(28, 117, 21, 0.25);

  margin: 0 auto;
  text-align: center;
  cursor: url("assets/cursors/Arrow_Down.cur"), auto;
}

button {
  cursor: url("assets/cursors/Neon Normal Select Cyan.cur"), auto!important;
}

input {
  cursor: url("assets/cursors/BlueglassTextSelect.cur"), auto!important;
}

.custom-hand-cursor {
  cursor: url("assets/cursors/sticker-grab.png"), auto;
}

.custom-grab-cursor {
  cursor: url("assets/cursors/sticker-grabbing.png"), auto;
}