@font-face {
    font-family: Alarm Clock;
    font-style: normal;
    font-weight: normal;
    src: url("./assets/fonts/alarm clock.ttf") format("truetype");
}

@font-face {
    font-family: Amiga Forever Pro2;
    font-style: normal;
    font-weight: normal;
    src: url("./assets/fonts/amiga4ever pro2.ttf") format("truetype");
}

@font-face {
    font-family: Awsumsans;
    font-style: normal;
    font-weight: normal;
    src: url("./assets/fonts/AwsumSans.otf") format("truetype");
}

@font-face {
    font-family: Awsumsans;
    font-style: italic;
    font-weight: normal;
    src: url("./assets/fonts/AwsumSansItalic.otf") format("truetype");
}

@font-face {
    font-family: Awsumsans;
    font-style: normal;
    font-weight: bold;
    src: url("./assets/fonts/AwsumSansBold.otf") format("truetype");
}

@font-face {
    font-family: Awsumsans;
    font-style: italic;
    font-weight: bold;
    src: url("./assets/fonts/AwsumSansBoldItalic.otf") format("truetype");
}

@font-face {
    font-family: Cousine;
    font-style: normal;
    font-weight: normal;
    src: url("./assets/fonts/Cousine-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Cousine;
    font-style: italic;
    font-weight: normal;
    src: url("./assets/fonts/Cousine-Italic.ttf") format("truetype");
}

@font-face {
    font-family: Cousine;
    font-style: normal;
    font-weight: bold;
    src: url("./assets/fonts/Cousine-Bold.ttf") format("truetype");
}

@font-face {
    font-family: Cousine;
    font-style: italic;
    font-weight: bold;
    src: url("./assets/fonts/Cousine-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: Montelgo Sans Serif;
    font-style: normal;
    font-weight: normal;
    src: url("./assets/fonts/MontelgoSansSerif.otf") format("truetype");
}

@font-face {
    font-family: Montelgo Sans Serif;
    font-style: italic;
    font-weight: normal;
    src: url("./assets/fonts/MontelgoSansSerifItalic.otf") format("truetype");
}

@font-face {
    font-family: Naston;
    font-style: normal;
    font-weight: normal;
    src: url("./assets/fonts/naston-regular.ttf") format("truetype");
}

@font-face {
    font-family: Pixel Digivolve;
    font-style: normal;
    font-weight: normal;
    src: url("./assets/fonts/Pixel Digivolve.otf") format("truetype");
}

@font-face {
    font-family: Pixel Digivolve;
    font-style: italic;
    font-weight: normal;
    src: url("./assets/fonts/Pixel Digivolve Italic.otf") format("truetype");
}

@font-face {
    font-family: Sansation;
    font-style: normal;
    font-weight: normal;
    src: url("./assets/fonts/Sansation_Regular.ttf") format("truetype");
}

@font-face {
    font-family: League Spartan;
    font-style: normal;
    font-weight: 100;
    src: url("./assets/fonts/LeagueSpartan/LeagueSpartan-Thin.ttf") format("truetype");
}

@font-face {
    font-family: League Spartan;
    font-style: normal;
    font-weight: 200;
    src: url("./assets/fonts/LeagueSpartan/LeagueSpartan-ExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: League Spartan;
    font-style: normal;
    font-weight: 300;
    src: url("./assets/fonts/LeagueSpartan/LeagueSpartan-Light.ttf") format("truetype");
}

@font-face {
    font-family: League Spartan;
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/LeagueSpartan/LeagueSpartan-Regular.ttf") format("truetype");
}

@font-face {
    font-family: League Spartan;
    font-style: normal;
    font-weight: 500;
    src: url("./assets/fonts/LeagueSpartan/LeagueSpartan-Medium.ttf") format("truetype");
}

@font-face {
    font-family: League Spartan;
    font-style: normal;
    font-weight: 600;
    src: url("./assets/fonts/LeagueSpartan/LeagueSpartan-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: League Spartan;
    font-style: normal;
    font-weight: 700;
    src: url("./assets/fonts/LeagueSpartan/LeagueSpartan-Bold.ttf") format("truetype");
}

@font-face {
    font-family: League Spartan;
    font-style: normal;
    font-weight: 800;
    src: url("./assets/fonts/LeagueSpartan/LeagueSpartan-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: League Spartan;
    font-style: normal;
    font-weight: 800;
    src: url("./assets/fonts/LeagueSpartan/LeagueSpartan-Black.ttf") format("truetype");
}

@font-face {
    font-family: Sakana;
    font-style: normal;
    font-weight: normal;
    src: url("./assets/fonts/Sakana_Regular.ttf") format("truetype");
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: 16px;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --contexify-menu-bgColor: #0c0c0c;
    --contexify-item-color: ghostwhite;
    --contexify-activeItem-color: black;
    --contexify-activeItem-bgColor: whitesmoke;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

html {
    scrollbar-width: none;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    transition: background-image 0.3s;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

@media (prefers-color-scheme: light) {
    :root {
        color: rgba(255, 255, 255, 0.87);
        background-color: #242424;
    }

    a:hover {
        color: #535bf2;
    }

    button {
        background-color: #1a1a1a;
        color: rgba(255, 255, 255, 0.9);
    }

    input {
        color: floralwhite;
    }

    select {
        color: floralwhite;
    }

    option {
        color: floralwhite;
    }
}

.prevent-default-long-press {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}
