name: Deploy to AWS
on:
  push:
    branches:
      - main

jobs:
  build-frontend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v2
        with:
          node-version: '18'
      - name: Build Frontend
        run: |
          cd frontend
          npm install
          npm run build
      - uses: actions/upload-artifact@v3
        with:
          name: frontend-build
          path: frontend/dist/

  build-backend:
    runs-on: ubuntu-latest
    needs: build-frontend
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v2
        with:
          java-version: '20'
          distribution: 'temurin'
      - uses: actions/download-artifact@v3
        with:
          name: frontend-build
          path: backend/src/main/resources/static
      - name: Build Backend
        run: mvn -B package --file backend/pom.xml
      - uses: actions/upload-artifact@v3
        with:
          name: backend-build
          path: backend/target/digimon-tcg-sim.jar

  deploy:
    name: Push to EC2 Instance
    runs-on: ubuntu-latest
    needs: build-backend
    environment: Musubi
    steps:
      - name: Checkout the code
        uses: actions/checkout@v3
      - name: Download artifact 
        uses: actions/download-artifact@v3
        with:
          name: backend-build
          path: backend/target

      - name: Deploy to my EC2 instance
        uses: easingthemes/ssh-deploy@v2.1.5
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          REMOTE_HOST: ${{ secrets.HOST }}
          REMOTE_USER: ${{ secrets.USERNAME }}
          TARGET: ${{ vars.DEPLOY_PATH }}
          SOURCE: backend/target

  startup:
    name: Start service
    runs-on: ubuntu-latest
    needs: deploy
    environment: Musubi
    steps:
      - name: Startup
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.PORT }}
          script: |
            sudo systemctl restart project-drasil